body {
    font-family: roboto;
}

.general {
    margin-left: 9%;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    min-width: 650px;
    max-width: 1280px;
}

h1 {
    font-weight: 300;
    font-size: 43px;
    line-height: 50px;
    padding-left: 25px;
    padding-top: 10px;
}

.coin-preview {
    display: flex;
    flex-direction: row;
    width: 50%;
    /* max-width: 500px; одна-две колонки */
    min-width: 250px;
    margin-bottom: 0px;   
}

.title-image {
    position: relative;
    width: 172px;
    height: 172px;
    top: -20px;  
}
    
#linkoln-img {
    background: url(images/аверс\ Линкольн.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#kenedi-img {
    background: url(images/аверс\ Кеннеди.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#djefferson-img {
    background: url(images/аверс\ Джефферсон.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ruzvelt-img {
    background: url(images/аверс\ Рузвельт.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#bobr-img {
    background: url(images/аверс\ Бобр.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#klen-img {
    background: url(images/аверс\ Клен.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#gagara-img {
    background: url(images/аверс\ Гагара.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#los-img {
    background: url(images/аверс\ Лось.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.discount {
    position: absolute;
    right: 14%;
    top: 14%;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background: #833AE0;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.description {
    height: 120px;
    max-width: 90%;
    min-width: 50%;
    /*width: 50%; */
    font-weight: normal;
    font-size: 12px;
    line-height: 125.5%;
    padding: 3px;
    /* or 15px */
}


.description h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0px;
}

.reference {
    text-decoration: none;
    color: #833AE0;
}

.price {
    position: relative;
    right: 0px;
    width: 96px;
    height: 120px;
    font-weight: bold;
    font-size: 16px;
    line-height: 123.4%;
}

.price span {
    font-weight: 300;
    font-size: 12px;
    line-height: 125.5%;
    color: #7A7A7A;
}

.coin {
    max-width: 920px;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.big-img {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.avers {
    height: 333px;
    margin-left: 100px; 
}

#linkoln-rev {
    background: url(images/реверс\ Линкольн.png);
    background-size: contain;
    background-repeat: no-repeat;  
}

#kenedi-rev {
    background: url(images/реверс\ Кеннеди.png);
    background-size: contain;
    background-repeat: no-repeat;  
}

#djefferson-rev {
    background: url(images/реверс\ Джефферсон.png);
    background-size: contain;
    background-repeat: no-repeat;  
}

#ruzvelt-rev {
    background: url(images/реверс\ Рузвельт.png);
    background-size: contain;
    background-repeat: no-repeat; 
}

#bobr-rev {
    background: url(images/реверс\ Бобр.png);
    background-size: contain;
    background-repeat: no-repeat; 
}

#klen-rev {
    background: url(images/реверс\ Клен.png);
    background-size: contain;
    background-repeat: no-repeat; 
}

.big-description {
    width: 40%;
    height: 672px;
    margin: 20px;
    padding: 30px;
    background: rgba(196, 196, 196, 0.5);
    position: relative;
}

.big-description p {
    font-size: 14px;
}

h2 {
    font-weight: 900; 
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
}

.artik {
    font-size: 10px;
}

.artikul {
    color: #7A7A7A;
}

.big-price {
    font-weight: bold;
    font-size: 28px;;
}


tr:nth-child(odd) {
    background: rgb(252, 252, 252);
}
tr:nth-child(even) {
    background: rgba(225, 225, 225);
}

table {
    border-collapse: collapse; 
    border-style: hidden;
    font-weight: normal;
    font-size: 10px;
    line-height: 105.2%;
}

td {
    padding: 4px 15px;
    border: 1px solid #B1ACAC;
}

.back {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline; 
    color: #833AE0;
    position: absolute;
    bottom: 40px;
}